/ _footer.haml
#footer
  %p.small
    This
    = link_to 'open-source music showlist', "https://github.com/bbttxu/denton"
    aggregates shows for Denton, TX using public data &mdash; with tangents in design and&nbsp;typography
  %ul
    %li
      developer:
      = link_to( "@bbttxu", "http://bbttxu.com/")
