/ _footer.haml
#footer
  %p
    This
    = link_to 'open-source music showlist', "https://github.com/bbttxu/denton"
    aggregates shows for Denton, TX using public data &mdash; with tangents in design and&nbsp;typography
  %h1
    = link_to(raw("@bbttxu writes code in&nbsp;Denton,&nbsp;TX"), "http://bbttxu.com/")
