<h1>New artist</h1>

<form id="new-artist" name="artist">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Artist" />
  </div>

</form>

<a href="#/index">Back</a>