/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 */
 
@import "foundation"
//@import "scaffolds"
@import "slabtext"

@import "typography"
//@import "colors"
@import "shows"



html

body
  background: #333
  @extend .base-font
  border-top: #FF6600 1em solid

#page
//  background:
//    image: image-url('/images/Chalkboard.jpg') !important
//    position: center


#header
  #title
    //min:
    //  height: 80px
    //bottom: 0px
    //position: absolute
    
  h1
    @extend .cherry-cream-soda
    line:
      height: 0.8
    
    
#page
  background: white
  border-top: #FF6600 1em solid
#navigation
  ul
    vertical-align: middle
  li
    min:
      height: 100px
    
  h5
    @extend .base-font
    line:
      height: 0.8
    bottom: 0px
    position: absolute
    
#footer 
  border-top: #FF6600 1em solid
  h1
    @extend .cherry-cream-soda
    text-align: center