// calendar.css.sass
#calendar
  @extend .base-font
  @extend .small-block-grid-7

  background: rgba(0,0,0,0) !important

  a
    font-size: 1.5em
    line-height: 1.0em

  li
    padding: 10px 10px

  .count-0
    padding: 0 important
    height: 0
    background
      color: blue



  .count-1
    // a span
    //   color: adjust-hue($primary-color, 300deg) !important


  .count-2
    a span
      color: adjust-hue($primary-color, 270deg) !important

  .count-3
    a span
      color: adjust-hue($primary-color, 225deg) !important

  .count-4
    a span
      color: invert($primary-color) !important


#calendar > li:nth-of-type(7n+1)
  clear: both !important

.month-jul, .month-sep, .month-nov
  // background:
  a
    color: $primary-color
  &.sat, &.sun
    a
      color: lighten( $primary-color, 10%)

.month-aug, .month-oct, .month-dec
  a
    color: $secondary-color
  &.sat, &.sun
    a
      color: lighten($secondary-color, 10%)

