/* footer.sass

#footer
	@extend .three
	@extend .offset-by-nine
	@extend .columns
	@extend .mobile-four

	background: white

	h1
		font:
			family: 'Anton', sans-serif
			weight: 400		
		text-align: center
		@media (min-width: $rowWidth)
			text-align: left
		line-height: 1em
		font-size: 2em
