/* footer.sass

#footer
	@extend .three
	@extend .offset-by-nine
	@extend .columns
	@extend .mobile-four
	// border-top: #FF6600 1em solid


	background: white

	h1
		color: green !important
		@extend .cherry-cream-soda
		text-align: center
		@media (min-width: $rowWidth)
			text-align: left
		line-height: 1em
		font-size: 2em
