// navigation.sass
// FIXME the amount of different selectors here is insane

#navigation-wrapper
  background: black

#nav
  ul
    vertical-align: middle
  li
    min:
      height: 100px

  h5
    @extend .base-font
    line:
      height: 0.8
    bottom: 0px
    position: absolute
    text-align: right


#navigation
  @extend .row

  .nav
    @extend .twelve
    @extend .columns
    @extend .top-bar

    margin: 0

  a.active
    li &
      @extend .active

section.top-bar-section
  li
    @extend .cherry-cream-soda
    a
