// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ol.rated, ol.top-rated, ul.unrated
  // @extend .base-font
  // padding:
  //   left: 2ex

  &.sortable
    min-height: 6em
    padding: 10px
    padding:
      left: 2em
    border:
      radius: 12px

.rated
  border: 10px dotted lightgreen


.unrated
  border: 10px dotted #ccc
