//
// shows stylesheet
//   _________.__
//  /   _____/|  |__   ______  _  ________
//  \_____  \ |  |  \ /  _ \ \/ \/ /  ___/
//  /        \|   Y  (  <_> )     /\___ \
// /_______  /|___|  /\____/ \/\_//____  >
//         \/      \/                  \/


ul.shows
  // position: relative
  // zoom: 1
  li
    div.meta
      $some-color: invert($primary-color)
      overflow: hidden
      background:
        color: $some-color
      border:
        bottom: 3px solid $some-color
      h6
        background:
          color: #ddd
        color: black

        body.night &
          color: #ccc
          background:
            color: #222

        margin:
          top: 0.0em
          bottom: 0.0em
        span.venue
          color: $primary-color
          // body.night &
          //   color: #ccc

        span.price, span.time
          color: #111

          body.night &
            color: #ccc

    div.artists
      h3
        line-height: 1em
        margin:
          bottom: 0.3em

        body.night &
          color: #ccc


.shows_this_day
  clear: both
  width: 100%
  // min-height: 100px
  background: green