/*
  shows stylesheet
    _________.__
   /   _____/|  |__   ______  _  ________
   \_____  \ |  |  \ /  _ \ \/ \/ /  ___/
   /        \|   Y  (  <_> )     /\___ \
  /_______  /|___|  /\____/ \/\_//____  >
          \/      \/                  \/



.shows
  .divider
    @extend .solid
    @extend .lightblue
    h4, h5
      @extend .base-font
      text-align: center
      line:
        height: 0.85


      @media (min-width: 480px)
        text-align: left

      span.slabtext
        @media (max-width: 767px)
          // display: block
          span
            // color: blue
            display: none
          span
            clear: both
  
    span.day
      color: #000
    span.month
      color: #333
    span.date
      color: #999

  ul
    li
      width: 100%
      margin:
        bottom: 0px

ul.shows
  li.divider
    @extend .solid
    // TODO
    h4, h5
      @extend .ubuntu
      @extend .lightblue
      span
        color: #eee !important

      text-align: center

      @media (min-width: 480px)
        text-align: left


li.show
  float: left !important
  div.meta
    h6
      @extend .base-font
      font-weight: 200
      // TODO
      //color: #f77 !important
      margin:
        bottom: 0px

  div.artists
    h3

      @extend .base-font

      margin:
        top: 0px

      line:
        height: 0.85
      a
        @extend .darkgreen
ul.shows
  li.divider
    h5
      line-height: 1

ul.lineup
  li
    @extend .base-font

