.squada
  font:
    family: 'Squada One', sans-serif
    weight: 400


.cherry-cream-soda
  font:
    family: 'Cherry Cream Soda', cursive
    weight: 400

.montserrat-subrayada
  font:
    family: 'Montserrat Subrayada'
    weight: 400

.latest
  font:
    weight: 400
    family: 'Changa One'

.base-font
  @extend .latest

