<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @gig.position %>
</p>

<p>
  <b>Plays at:</b>
  <%= @gig.plays_at %>
</p>


<%- link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
