
/ .twelve.mobile-three.columns#content
/   .row
/     - div_classes = ["columns six push-three"]
/     - div_classes = ["columns eight push-two"] if @shows.count >= 2

/     - ul_class = "one-up mobile-two-up"
/     / - ul_class = "three-up" if @shows[date].count >= 3
/     - ul_class = "two-up mobile-two-up" if @shows.count >= 2
/     .shows.mobile-four( class="#{div_classes.join(' ')}")
/       ul.shows.block-grid( class="#{ul_class}" )
- content_for :title, params[:date].gsub(/\-/, '/')

h3.date= @shows.first['starts_at'].strftime('%A, %B %d')

.shows.row
  - @shows.each_with_index do |show,index|
    = render :partial => "day", :locals => { :show => show }
  = render 'shared/footer'
