%html
  %head
    %title
      BBTTXU
    %link( href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css')
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    
  %body
    #page
      .row#content
        = yield

    #footer
      .row
        %h1
          I am
          %a.bbttxu( href="http://twitter.com/bbttxu/")@bbttxu,
          %a( href="https://github.com/bbttxu")I write code
          in
          %a( href="http://maps.google.com/maps?q=Denton,+TX&hl=en&sll=37.0625,-95.677068&sspn=45.601981,81.298828&oq=denton&hnear=Denton,+Texas&t=m&z=12")Denton, TX
